{% extends "layout.html" %}

{% block body %}
<h2 class='searchResults'>Search Results: {{ numberOfSearchResults }}</h2>

<table class="table table-secondary table-striped">

    {% for article in relatedArticles %}
    <tr>
        <td>
            <h1><a href={{ article.link }} target="_blank" rel="noopener noreferrer">{{ article.title }}</a></h1>
            <h4>
                <p>{{ article.published }}</p>
            </h4>
            <img alt="Article cover image" src={{ article.image }} width=25%;>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}